<div class="jumbotron container-fluid " id="propos1">
    <div class='hidden-xs col-md-2 vcenter'></div>
    <div class='hidden-xs col-md-4 text-center vcenter'><img class="img-responsive" src="images/logo.gif" /></div>
    <div class='col-xs-12 col-md-4 vcenter'>
        <h1>Ashuvidz</h1>
        <h2>La chaine</h2>
        <p>La chaine Ashuvidz créé en 2012 par Vyrtual Synthese est une chaine qui s'est faite connaitre par ses nombreux guides et suivit du MMORPG Guild Wars 2.</p>
        <p>Aujourd'hui, La chaine propose</p>
        <p>Des vidéo guides sur les MMO du moment.</p>
        <p>Des <strong><a href="#" data-toggle="tooltip" title="Ca vaut le coup ?">#CVC</a></strong> qui font une review aux differentes étapes de progression des MMO.</p>
        <p>Des tops pour vous aider à trouver votre prochain jeu du moment.</p>
        <p>Les Raconte moi ... qui s'attardent sur le Lore de vos jeux préférés.</p>
        <p>Les <strong><a href="#" data-toggle="tooltip" title="Samedi c'est Dachi !">#SCD</a></strong> qui sont dédié à la communauté des Dachi pour apporter de la proximité entre la chaine et ses Dachi.</p>
    </div>
    <div class='hidden-xs col-md-2 vcenter'></div>
</div>

<div class="jumbotron container-fluid " id="propos2">
    <div class='hidden-xs col-md-2 vcenter'></div>
    <div class='col-xs-12 col-md-4 vcenter'>
        <h1>Ashuvidz</h1>
        <h2>Les Lives</h2>
        <p>Ashuvidz c'est aussi des live stream sur Twitch plusieurs fois par semaines</p>
        <p>Une des rares chaines à proposer des lives sur des MMORPG régulièrement.</p>
        <p>Le principe des lives est simple, gameplay, communauté, interaction.</p>
        <p>Même le tchat devient progressivement un jeu à lui tout seul.</p>
        <p>Les lives sont l'occasion de jouer et d'interagire avec les membres actifs de la communauté des Dachi.</p>
        <p>Le principale avantage de jouer à des MMORPG c'est que vous pouvez souvent venir jouer et participer au live avec moi sans devoir vous partager les quelques places disponible dans mon équipe.</p>
    </div>
    <div class='hidden-xs col-md-4 text-center vcenter'><img class="img-responsive" src="images/portrait.png" /></div>
    <div class='hidden-xs col-md-2 vcenter'></div>
</div>

<div class="jumbotron container-fluid " id="propos3">
    <div class='hidden-xs col-md-2 vcenter'></div>
    <div class='hidden-xs col-md-4 text-center vcenter'><img class="img-responsive" src="images/avatar.jpg" /></div>
    <div class='col-xs-12 col-md-4 vcenter'>
        <h1>Vyrtual Synthese</h1>
        <h2>Le host</h2>
        <p>Developpeur, Japonisant et surtout gamer mordu de jeux en ligne</p>
        <p>Chaques jours je suis un peu plus chauve.</p>
        <p>Mon truc c'est de compenser mon skill par la recherche et la connaissance du jeu.</p>
        <p>Le jeu vidéo, je connais, je m'invite dans les studios de jeu vidéo à l'autre bout du monde dès que j'ai le temps.</p>
        <p>Pour moi une vidéo reussis c'est une vidéo qui t'a aidé et un live reussis c'est quand tu a reveillé tes voisins en rigolant.</p>
        <p>En dehors du jeu vidéo, j'aime voyager et apprendre des langues.</p>
        <p>Aussi on ne m'appel jamais Ashu sauf quand je joue Ashuran ma guerriere tank sur WoW, ce qui n'arrive qu'un mois tous les trois ans. Sinon je m'appel Synthese ou Vyrtual c'est au choix !</p>
    </div>
    <div class='hidden-xs col-md-2 vcenter'></div>
</div>

<div class="jumbotron container-fluid " id="propos4">
    <div class='hidden-xs col-md-2 vcenter'></div>
    <div class='col-xs-12 col-md-4 vcenter'>
        <h1>Les Dachi</h1>
        <h2>La Communauté</h2>
        <p>Les Dachi (diminutif de "Tomodachi" amis en japonais) sont la communauté formé par tous ceux qui participent à la vie de la chaine et de ce qu'il y a autour.</p>
        <p>Etre un dachi est simple, il suffit de dire une fois "je suis un Dachi" ou de crier "PARKING" ou encore "C'est quand le +18" ou même "Synthes t'est chauve !" ... voila vous êtes un Dachi</p>
        <p>Les Dachi sont généralement trouvable sur le tchat Twitch, le Discord, dans les guildes des Dachi, sur leurs propres lives, sur Youtube, sur le forum ... ils sont partout</p>
    </div>
    <div class='hidden-xs col-md-4 text-center vcenter'><img class="img-responsive" src="images/dachi.jpg" /></div>
    <div class='hidden-xs col-md-2 vcenter'></div>
</div>