<div class="jumbotron fullwidth" id="section1">
    <div class="container">
        <h1>AshuGuilde</h1>
        <h2>Guild Wars 2</h2>
        <p>Fan de la chaîne <strong>Ashuvidz</strong> ainsi que du <strong>MMO Guild Wars 2</strong>?</p>
        <p>La Ashuguilde te propose un environnement de jeu des plus agréable. Entre <strong>découverte</strong>, <strong>activités de guilde</strong> et <strong>entraide</strong>, tu as le choix.</p>
        <p> L’objectif de la guilde est simple. Réunir une même communauté et profiter du jeu ensemble. Si ta réponse était oui, <strong>rejoins nous</strong>.</p>
        <a href="https://forum.ashuvidz.com/c/guild-wars-2/recrutement-gw2"><button type="button" class="btn btn-primary btn-lg btn-block">Rejoindre la Guilde</button></a>
    </div>
</div>
<div class="jumbotron fullwidth" id="section2">
    <div class="container">
        <div class="container">
            <h1>Ashuvidz</h1>
            <h2>Black Desert Online</h2>
            <p>Nous sommes une guilde <strong>conviviale, organisée, orientée pve</strong> avec au moins ⅔ mission de guilde par semaine avec une moyenne de 10 personne connectée. Nous proposons également d’autres activités comme des <strong>boss de guilde</strong>          (une fois par semaine). Des <strong>groupes de parchemins</strong> journaliers/hebdomadaires ainsi que des groupes pour l’obtention des fragments de mémoires, et d’autres choses encore ! </p>
            <a href="https://forum.ashuvidz.com/c/black-desert-online/recrutement-bdo"><button type="button" class="btn btn-primary btn-lg btn-block">Rejoindre la Guilde</button></a>
        </div>
    </div>
</div>