<!DOCTYPE html>
<html lang="fr">
  <head>
      <title>Ashuvidz : Première chaine MMO de France</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
      <link href="stylesheets/style.css" rel="stylesheet">
      <link href="stylesheets/animate.css" rel="stylesheet">
  </head>
  <body>

      <nav class='navbar navbar-default'>
          <div class='container'>
              <div class='navbar-header'>
                  <button type='button' class='navbar-toggle' data-toggle='collapse'  data-target='#myNavbar'>
                      <span class='icon-bar'></span>
                      <span class='icon-bar'></span>
                      <span class='icon-bar'></span>
                  </button>
                  <a class='navbar-brand' href='/'>Ashuvidz</a>
              </div>
              <div class='collapse navbar-collapse' id='myNavbar'>
                  <ul class='nav navbar-nav'>
                      <li><a href='planning'>Planning</a></li>
                      <li><a href='videos'>Video</a></li>
                      <li><a href='apropos'>A Propos</a></li>
                      <li><a href='guilds'>Guilds</a></li>
                      <li><a href='https://forum.ashuvidz.com/'>Forum</a></li>
                      <li><a href='https://shop.spreadshirt.fr/ashuvidz/'>Goodies</a></li>
                      <li><a href='https://blog.ashuvidz.com/'>Blog</a></li>
                  </ul>
              </div>
          </div>
      </nav>

      {{{body}}}

      <footer class='footer hidden-xs'>
          <div class='row'>
              <div class='col-xs-2 col-md-2'></div>
              <div class='col-xs-4 col-md-4'>
                  <p><a href='mailto:ashuvidz@gmail.com'>Contact</a> | <a href='https://www.vsfreelance.com/'>Pro</a></p><p>Made by Vyrtual Synthese &amp; Dachi Community with <span class='glyphicon glyphicon-heart'></span></p>
              </div>
              <div class='col-xs-4 col-md-4 text-right'>
                  <a href='http://youtube.com/ashuvidz/'><i class='fa fa-youtube-play fa-2x' aria-hidden='true'></i></a>
                  <a href='http://twitch.tv/ashuvidz/'><i class='fa fa-twitch fa-2x' aria-hidden='true'></i></a>
                  <a href='http://facebook.com/ashuvidz/'><i class='fa fa-facebook-official fa-2x' aria-hidden='true'></i></a>
                  <a href='http://twitter.com/ashuvidz/'><i class='fa fa-twitter-square fa-2x' aria-hidden='true'></i></a>
              </div>
              <div class='col-xs-2 col-md-2'></div>
          </div>
      </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/javascript.js"></script>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <script src="javascripts/twitch-embed.js"></script>
  </body>
</html>
