<div class="container-fluid">
    <div class="row" id="planning">
        <div class="col-xs-0 col-md-2"></div>
        <div class="col-xs-12 col-md-8 text-center">
            <h1>Planning des lives</h1>
            <h3>En ce moment stream uniquement les weekends et jours férié</h3>
            <img src="images/planning.jpg" class="img-responsive center-block" alt="planning ashuvidz">
        </div>
        <div class="col-xs-0 col-md-2"></div>
    </div>
</div>